# Ignore AZURE2 directory in the main folder but not in subfolders
AZURE2/

# Ignore MacOS system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/